:root {
    --color-naranja-primary: #f12711;
    --color-maranja-secondary: #f5af19;

    --color-azul-primary: #09077c;
    --color-azul-secondary: #00b4db;

    --color-verde-primary: #1d8d36;
    --color-verde-secondary: #8ef519;
}

/*----------------- Cuerpo tarjeta--------------- */

.background1 {
    background: url(../assets/imgs/background.jpg) no-repeat center center/cover;
    display: grid;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 1rem;
    width: 100%;
    min-width: 95%;
    /* margin:auto; */
    margin-bottom: 5rem;
}

.card {
    height: 100%;
    width: 100%;
    min-width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    position: relative;
    background-color: #fff;
    z-index: 10;
    padding-bottom: 8rem;
}

.card-image {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-image img {
    object-fit: cover;
    transition: all .3s ease;
    backface-visibility: hidden;
}

.card-text {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
}



.card-text h2 {
    font-size: 3rem;
    margin: 1rem;
}

.card-text p {
    padding: 2rem;
}

.bi-droplet-fill,
.date-3 {
    color: var(--color-azul-primary);
}

.bi-fire,
.fire,
.date-1 {
    color: var(--color-naranja-primary);
}

.leaf,
.date-2 {
    fill: var(--color-verde-primary);
    color: var(--color-verde-primary);
}

.btn{
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    width: 160px;

}

.squi {
    background-color: var(--color-azul-secondary);
    color: var(--color-azul-primary);
}

.char {
    background-color: var(--color-maranja-secondary);
    color:var(--color-naranja-primary);
}

.bulv {
    background-color: var(--color-verde-secondary);
    color: var(--color-verde-primary);
}



/*----------------- Pie tarjeta--------------- */

.card-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    position: absolute;
    bottom: 0;
}

.value {
    text-decoration: underline;
    margin-bottom: .5rem;
}

.card-1 {
    background-image: linear-gradient(to right, var(--color-naranja-primary), var(--color-maranja-secondary));
}

.card-2 {
    background-image: linear-gradient(to right, var(--color-verde-primary), var(--color-verde-secondary));
}

.card-3 {
    background-image: linear-gradient(to right, var(--color-azul-primary), var(--color-azul-secondary));
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat:not(:last-of-type):after {
    /*para que al último elemento no le ponga la linea*/
    content: "";
    background-color: rgba(255, 255, 255, .3);
    width: .2rem;
    height: 80%;
    position: absolute;
    margin-left: 6rem;
}

/* ------------------tarjeta hover--------------- */

.card:hover .card-image img {
    margin-top: -6.2rem;
    position: relative;
    z-index: 50;
    transform: rotate(-15deg) scale(1.1);
}


/* ------------Media query----------- */


@media screen and (max-width: 1024px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        flex-wrap: wrap;
        /* margin-bottom: 5rem; */
    }

    .card {
        height: 100%;
    }
}

@media screen and (max-width: 768px) {

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
        padding: 1rem;
        /* margin-bottom: 5rem; */
    }

    .card {
        width: 100%;
    }
}