<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/info.css">
    <link rel="stylesheet" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Pokemon</title>
  </head>
  <body>
    <header>
      <a href="index.html"
        ><img class="logo" src="./assets/imgs/pokeballSVG.svg" alt="pokeball"
      /></a>
      <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
      <nav class="nav" id="nav">
        <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
        <ul class="nav-list">
          <li><a href="index.html">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Pokedex</a></li>
          <li><a href="templates/contacto.html">Contacto</a></li>
          <li>
            <a
              href="https://store.nintendo.es/es/games/shop-by-franchise/pokemon-games"
              target="_blank"
              >Juegos</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- <div class="background"> -->
    <div class="main-container-hero">
      <div class="hero-body">
        <div class="titulo-centrar">
          <img
            src="assets/imgs/pokemon-titulo.png"
            alt="POKEMON"
            class="titulo"
          />
          <br />
          <span class="subtitulo">
            <h2>Elige al pokemon que te acompañará en tu aventura.</h2>
          </span>
        </div>
      </div>
    </div>
    <div class="main-container">
      <p class="texto-pokemon">
        Pokémon es una franquicia que originalmente comenzó como un
        videojuego RPG, pero debido a su popularidad ha logrado expandirse a
        otros medios de entretenimiento como series de televisión, juegos de
        cartas, ropa, entre otros, convirtiéndose en una marca que es reconocida
        en el mercado mundial. La franquicia celebra su 25 aniversario en 2021.
      
      </p>
      <div class="main-container-pokemon">

        <div class="pokemon">
          <div class="juego"><h3>Lugia el guardian de los mares</h3></div>
          <video width="100%" height="100%" controls poster="/assets/imgs/Lugia.jpg" src="assets/video/Lugia.mp4"></video>
        </div>
        <div class="pokemon">
          <div class="juego"><h3>La leyenda de Ho-Oh</h3></div>
          <video width="100%" height="100%" controls poster="/assets/imgs/Ho-Oh.jpg" src="assets/video/Ho-Oh.mp4"></video>
        </div>
    
      </div>
   
<!-- FOOTER -->
    <footer class="footer">
      <div class="container">
        <div class="footer-row">
          <div class="footer-links">
            <h4>Compañía</h4>
            <ul>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Nuestros servicios</a></li>
              <li><a href="#">política de privacidad</a></li>
              <li><a href="#">Únete a nosotros</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Ayuda</h4>
            <ul>
              <li><a href="#">Preguntas</a></li>
              <li><a href="#">Compras</a></li>
              <li><a href="#">Envíos</a></li>
              <li><a href="#">Pago</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Merchandising</h4>
            <ul>
              <li><a href="#">Juegos</a></li>
              <li><a href="#">Peluchess</a></li>
              <li><a href="#">Ropa</a></li>
              <li><a href="#">Tazas</a></li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Síguenos</h4>
            <div class="social-links">
              <a
                href="https://www.facebook.com/Pokemon/?locale=es_ES"
                target="_blank"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://twitter.com/Pokemon" target="_blank"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="https://www.instagram.com/pokemon/?hl=es" target="_blank"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="https://es.linkedin.com/company/pokemon" target="_blank"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="footer-text">
          <p>
            Pokémon y todos los nombres de los personajes, objetos y lugares que
            aparecen en el mismo son marcas registradas de Nintendo, Creatures
            Inc. y GAME FREAK inc. ©1995-2021 Nintendo/Creatures Inc./GAME FREAK
            inc. Pokémon y Nintendo Switch son marcas registradas de Nintendo.
          </p>
        </div>
      </div>
    </footer>

    <script>
      //Header y hamburger menu

      const nav = document.querySelector("#nav");
      const abrir = document.querySelector("#abrir");
      const cerrar = document.querySelector("#cerrar");

      abrir.addEventListener("click", () => {
        nav.classList.add("visible");
      });

      cerrar.addEventListener("click", () => {
        nav.classList.remove("visible");
      });
    </script>
    <!-- <script src="./js/script.js"></script> -->
  </body>
</html>
